.wrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #f5f5f5;
  padding: 4px;
  padding-left: 12px;
  border-radius: 999px;
  pointer-events: none;
  gap: 12px;

  width: clamp(100px, 80%, 600px);

  .statsContainer {
    display: flex;
    align-items: center;
    gap: 12px;

    .statText {
      color: black;
      opacity: 0.6;
      font-size: 16px;
      font-family: Arial, sans-serif;
      margin: 0;
    }
  }

  .progressBar {
    border-radius: 999px;
    width: 100%;
    background-color: rgb(203, 203, 203);
    overflow: hidden;

    .fill {
      width: 100%;
      min-height: 30px;
      background: #3edc89;
      transition: width 0.3s ease;
      border-radius: 999px;
    }
  }
}
